/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/DesignTimeBuild/.dtbcache.v2
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/0a29db44-c71c-4c75-9fa6-4b11b63c961a.vsidx
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/62a41f66-828f-4a83-8509-b26d369453cb.vsidx
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/820303a0-cad9-4a05-a5c2-2f25dd44066d.vsidx
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/b995e4e2-da6e-47b5-8512-f8db5b90fa40.vsidx
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/cfaac57b-0c40-491d-843d-157d0b715d7d.vsidx
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/db4327b3-6d95-4e80-aa2e-3a229d1e5ca5.vsidx
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/read.lock
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/config/applicationhost.config
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/v17/.futdcache.v2
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/v17/.suo
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/v17/fileList.bin
/Blazor-WASM-Demos/.vs/ProjectEvaluation/blazor_wasm_demos_net6.metadata.v6.1
/Blazor-WASM-Demos/.vs/ProjectEvaluation/blazor_wasm_demos_net6.projects.v6.1
/Common/bin
/Common/obj
/Blazor-WASM-Demos/bin
/Blazor-WASM-Demos/obj
/Blazor-WASM-Demos/.vs/Blazor_WASM_Demos_NET6/FileContentIndex/*.vsidx
